
img {
 /* Positions the image relative to its first positioned (not static) ancestor element */
 margin: 0; /* Reset margins */
 padding: 0; /* Reset padding */
  width:100vw;
  height:20vh
}

table {
    width: 100%;
    border-collapse: collapse;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  th, td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #e0e0e0;
    border-right: 1px solid #e0e0e0; /* Add right border */
  }
  
  th {
    background-color: #f4f4f4;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 0.9rem;
    color: #555;
    border-right: 1px solid #e0e0e0; /* Add right border */
  }
  
  /* Alternating row colors */
  tbody tr:nth-child(even) {
    background-color: #fafafa;
  }
  
  /* Hover effect */
  tbody tr:hover {
    background-color: #f0f0f0;
  }
  
  /* Add borders to last cell in each row */
  td:last-child,
  th:last-child {
    border-right: none;
  }

  .search-container {
    padding: 40px; /* Increase the padding */
    text-align: center;
    height: 42px;
    margin: 0 auto; /* Center the container horizontally */
  }

.highlight {
    background-color: yellow;
}
#searchInput {
  width: 300px; 
  height: 40px; 
  font-size: 16px; 
  padding: 8px;
}


  